* {
	box-sizing: border-box;
	word-wrap: break-word;
}

html{
	overflow-x: hidden;
}

body {
	@include body();
}

.content-area{
	max-width: 1024*$px;
	margin-left: auto;
	margin-right: auto;	
	text-align: justify;
	padding: $phi*1em;
	@include media(max-width 640px) {
		padding-right: $phi*0.5em;
		padding-left: $phi*0.5em;
	}

}
@include links();

.entry-content{
	a{
		color:$color__link-hover;
		&:hover,&:focus{
			color:$color__link;
		}
	}
}

// Overridden from lists.scss
ul, ol {
	padding: 0;
	margin: 0 0 $phi*1em $phi*1em;
}

@include htags();
@include media(max-width 800px){
	@include htags(0.9);
}
@include media(max-width 640px){
	@include htags(0.8);
}
@include media(max-width 400px){
	@include htags(0.7);
}


/* Header */

.site-header{
	min-height: 120px;
	@include media(max-width 640px) {
		min-height: 100px;
	}
	@include media(max-width 460px) {
		min-height: 40px;
	}
	border-bottom: 1px solid lighten(black, 95%);
	position: relative;
}

.site-branding{
	float: left;
	display: block;
	//@include guide();
	margin-left: 5%;
	margin-top: $phi*0.5em;
	h3{
		margin: $phi/2*1em 0 0 0;
	}
	p{
		margin: 0 0 $phi/2*1em 0;
		color: $color__link;
	}
}


.donate-now-link{
	@include clearfix;
	position: absolute;
	right: 0;	
	.donate-now{
		@include clearfix;		
		height: 120px;
		width: 120px;
		@include media(max-width 640px) {
			height: 100px;
			width: 100px;
		}
		@include media(max-width 460px) {
			height: 40px;
			width: 40px;
		}
		background-color: $color__link-hover;
		text-align: center;
		h3 {
			display: inline-block;
			color:white;
			padding: 0;
			margin: 0;
			padding-top: 20%;
			font-size: 1.5em;
			@include media(max-width 640px) {
				font-size: 1.3em;
			}
			@include media(max-width 460px) {
				font-size: 0.6em;
			}
			.fa{
				font-size: 0.5em;
			}
		}
		&:hover{
			background-color: lighten($color__link-hover,10%);
		}
	}
}

@include media(max-width 960px) {
	.site-header{
		position: relative;
	}
	.site-branding{
		clear: both;
		float: none;
		display: block;
		//max-width: 50%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.donate-now-link{
		left: 0;
		top: 0;
	}
	.navicon{
		position: absolute;
		top: 0;
		right: 0;
	}
}

@include media(max-width 460px) {
	.site-header{		
		.navicon{
			margin: 0.25em*$phi;
			.fa{
				font-size: 0.8em;
			}
		}
	}
}

 /* Footer  */
 .footer-logo{
 	background-color:  #bfb8af;
 	text-align: center;
 	a{
 		img{
 			margin: $phi*1em;
 			&:hover{
 				opacity: 0.5;
 			}
 		}
 	}
 }

 .footer-content{
 	@include clearfix;
 	text-align: center;
 	background-color: #546223;
 	color: WHITE;
 	width: 100%;
 	li{
 		list-style: none;
 	}
 	.footer-newsletter{
 		input, p{
 			display: inline-block !important;
 		}
 		input{
 			margin: $phi*1em $phi*1em 0 $phi*1em !important;

 			&[type="submit"]{
 				font-size: 16*$px;
 				@include button;
 				text-shadow:none;
 				box-shadow: none;
 				border:none;
 			}
 		}
 		h2{
 			font-size: 16*$px;
 			padding-top: $phi*1em;
 			margin-top: 0;
 			color: white;
 		}
 	}

 	hr{
 		padding: 0;
 		border: none;
 		border-top: medium double #333;
 		color: #333;
 		text-align: center;
 		margin: $phi*1em $phi*1em $phi*$phi*1em;
 		&:after{
 			content: "\f08a";
 			font-family: FontAwesome;
 			display: inline-block;
 			position: relative;
 			top: -0.7em;
 			font-size: 1.5em;
 			padding: 0 0.25em;
 			background: #546223;
 			color: white;
 		}
 	}

 	.footer-company-information-and-social-media{
 		@include clearfix;
 		width: 80%;
 		margin-left: auto;
 		margin-right: auto;
 		margin-bottom: $phi*1em;
 		.footer-company-information{
 			@include span-columns(6);
 			text-align: right;
 			@include media(max-width 640px){
 				@include span-columns(12);
 				text-align: center;
 			}
 			a{
 				color: $color__link-hover;
 				font-weight: 600;
 				&:hover,&:focus{
 					color: white;
 				}
 			}
 		}

 		.footer-social-media{
 			@include span-columns(6);
 			text-align: left;
 			@include media(max-width 640px){
 				@include span-columns(12);
 				text-align: center;
 				margin-top: $phi*1em;
 			}
 			a{
 				color:$color__link-hover;
 				&:hover,&:focus{
 					color: darken(#546223,5%);
 				}
 				i{
 					font-size: 32*$px;
 					padding: $phi*10px;
 					padding-top: 0;
 				}
 			}
 		}
 	}
 }

 .site-info{
 	background-color: darken(#546223,10%);
 	color: white;
 	padding: $phi*1em;
 	a{
 		color: $color__link-hover;
 		&:hover,&:focus{
 			color: darken(white,20%);
 		}
 	}
 	text-align: center;
 }

//Blog Page styling
.post,.story{
	.entry-header{
		text-align: center;		
		.entry-meta{
			.posted-on{
				a{
					&:before{
						content: "\f073";
						font-family: FontAwesome;
						margin-right: 0.5em;
						margin-left: 0.5em;
					}
				}
			}
			.byline{
				span a{
					&:before{
						content: "\f007";
						font-family: FontAwesome;
						margin-right: 0.5em;
						margin-left: 0.5em;
					}
				}
			}
		}
		img{
			margin-top: $phi*1em;
			width: 100%;
		}
	}
	.entry-footer{
		text-align: center;
		border-bottom: 1px solid lighten(black, 90%);
		//padding-bottom: $phi*0.5em;
		span{
			margin-right: $phi*0.5em;
			margin-left: $phi*0.5em;
			padding-top: $phi*0.5em;
			padding-bottom: $phi*0.5em;
			border-top: 1px solid lighten(black, 90%);
			display: inline-block;
			&.cat-links:before{
				content: "\f115";
				font-family: FontAwesome;
				margin-right: 0.5em;
			}
			&.comments-link:before{
				content: "\f075";
				font-family: FontAwesome;
				margin-right: 0.5em;
			}
			&.edit-link:before{
				content: "\f040";
				font-family: FontAwesome;
				margin-right: 0.5em;
			}
		}
	}
}
.posts-navigation{
	a{
		margin: 0 1em*$phi;
	}
	.nav-previous{
		a:before{
			content: "\f060";
			font-family: FontAwesome;
			margin-right: 0.5em;
		}
	}
	.nav-next{
		a:after{
			content: "\f061";
			font-family: FontAwesome;
			margin-left: 0.5em;
		}
	}
}

div#comments{
	input#submit.submit{
		@include button;
		box-shadow: none;
		text-shadow: none;
		border: none;
	}
}

//Page Styling
.entry-header{
	text-align: center;
}

// Story Custom Post Styling
.story{
	.entry-header{
		img.story-hero{
			width: 100%;
		}
		.story-details{
			background-color: #ebe7e3;
			width: 100%;
			span{
				margin: 0.25em*$phi 1em*$phi;
				display: inline-block;
				&:before{
					content: "\f08a";
					font-family: FontAwesome;
					margin-right: 0.125em*$phi;
				}
			}
		}
	}
}

// Story archive styling
hr.separator{
	padding: 0;
	border: none;
	//border-top: medium double #333;
	color: #546223;
	text-align: center;
	margin: $phi*$phi*$phi*1em 0;
	&:after{
		content: "\f08a";
		font-family: FontAwesome;
		display: inline-block;
		position: relative;
		top: -0.7em;
		font-size: 1.5em;
		padding: 0 0.25em;
		background: white;
		color: #546223;
	}

}

.side-image {  
	$base-line-height: 1.5em !default;
	$action-color: #477DCA !default;
	$large-screen: em(860) !default;
	$base-font-color: white !default;
	$side-image-content-background: #546223;

	background: $side-image-content-background;

	@include media($large-screen) {
		@include row(table);
	}

	.images-wrapper {
		background-repeat: no-repeat;
		background-position: center;
		background-color: transparent;
		background-size: cover;
		display: block;
		min-height: 400px;
		padding: 3em;

		@include media($large-screen) {
			@include span-columns(4);
			background-position: bottom;
			background-size: cover;
		}
	}

	.side-image-content {
		@include span-columns(12);
		padding: $phi*1em;

		@include media($large-screen) {
			@include span-columns(8);
			padding: $phi*1em;
		}

		h1 {
			//margin-bottom: 0.9em;
			color: white;
		}

		h4 {
			border: 1px solid white;
			color: white;
			display: inline-block;
			font-size: 0.75em;
			padding: 3px 8px;
			text-transform: uppercase;
		}

		p {
			color: $base-font-color;
			line-height: $base-line-height;
		}
		a{
			color: #ed8b00;
			transition: all .5s ease;
			text-transform: uppercase;
			font-weight: 600;
			&:hover{
				color: white;
			}
		}
	}

	@include reset-display();
}

.archive-story, .ajax-load-more .alm-reveal{
	@include clearfix;
	.hover-tile-outer {
		$base-border-color: transparent !default;
		$base-line-height: 1.5em !default;
		$hover-tile-height: 300px;
		$base-spacing: 1.5em;	

		background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");
		background-position: center;
		background-size: cover;
		cursor: pointer;
		min-height: $hover-tile-height;
		margin-bottom: $base-line-height;

		@include span-columns(4);
		@include media(max-width 1024px) {
			@include span-columns(6);
			&:nth-child(even){
				margin-right: 0;
			}		
		}
		@include media(max-width 690px) {
			@include span-columns(12);
		}


		.hover-tile-container {
			height: $hover-tile-height;
			overflow: hidden;
		}

		.hover-tile-container:hover > .hover-tile {
			@include transform(translate(0, -100%));
			background: transparentize(#546223, 0.1);
		}

		.hover-tile {
			@include transition(all, 0.2s ease-in-out);
			background: inherit;
			color: white;
			height: inherit;
			overflow: hidden;
			padding: $base-spacing;
			width: 100%;
			@include transform(translate(0, -20%));
		}

		.hover-tile-hidden {
			background: transparentize(#546223, 0);

			p {
				color: transparentize(#fff, 0.3);
				line-height: $base-line-height;
			}

			h4 {
				margin: 0 0 0.5em 0;
			}
		}
	}
}
button#load-more{
	font-family: $font__main;
    background: $color__link-hover;
    box-shadow: none;
    text-shadow:none;
    &:hover {
		background: darken($color__link,5%);
		text-decoration: none;
	}
}


 //Front-page
 .hero-image{
 	background: url('http://localhost/nonprofit-org/wp-content/themes/nonprofit-org/images/front-page/header-image.jpg') no-repeat center center;
 	background-size: cover;
 	width: 100%;
 	min-height: 90vh;
 	position: relative;
 	@include clearfix;

 	.hero-image-text{
 		text-align: left;
 		position: absolute;
 		bottom:10%;
 		left: 5%;
 		max-width: 40%;
 		@include media(max-width 800px){
 			max-width: 60%;
 		}
 		h2{
 			a{
 				color: white;
 				text-shadow: 2px 2px 4px #333;
 				&:hover, &:focus {
 					color: $color__link-hover;
 				}
 			}
 		}
 	}
 }

 .bar-under-hero-image{
 	@include clearfix;
 	background-color: #ed8b00;
 	width: 100%;
 	height:100%;
 	text-transform: uppercase;
 	text-align: center;
 	.wrap{
 		@include clearfix;
 		min-width: 80%;
 		margin: 0 auto;
 		height:100%;
 		a{
 			color: white;	
 			div{
 				height:100%;
 				h3{
 					margin-top: 0;
 					padding-top: $phi*0.5em;
 				} 	
 				&:hover{
 					background-color: darken(#ed8b00,5%);
 				}
 			}
 			@include media(min-width 840px) {
 				#bar-under-hero-image-button-1, #bar-under-hero-image-button-3{
 					@include span-columns(3.5);
 					border-left: 1px solid rgba(255,255,255,0.3);
 				}
 				#bar-under-hero-image-button-2{
 					@include span-columns(5);
 					border-left: 1px solid rgba(255,255,255,0.3);
 				}
 				#bar-under-hero-image-button-3{
 					border-right: 1px solid rgba(255,255,255,0.3);
 				}
 			}
 			@include media(max-width 840px) {
 				#bar-under-hero-image-button-1,#bar-under-hero-image-button-2{
 					border-bottom: 1px solid rgba(255,255,255,0.3);
 				}
 			}
 		}
 	}
 }

 .our-vision{
 	text-align: center;
 	max-width: 70%;
 	@include media(max-width 840px){
 		max-width: 80%;
 	}
 	margin: $phi*$phi*$phi*1em auto;
 	h2{
 		max-width: 90%;
 		margin-left: auto;
 		margin-right: auto;
 	}
 	a{
 		@include button();
 		margin: $phi*1em;
 		@include media(max-width 640px) {
 			display: inline-block;
 			&:last-child{
 				margin-bottom: 0;
 			}
 		}
 	}
 }